In [ ]:
# pandas 패키지 로드
import pandas as pd

In [ ]:
# series
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
a = [1,2,3,4]

In [ ]:
pd.Series(a)

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# DataFrame
# 리스트를 이용해서 DataFrame 만들기
company1 = [['삼성', 2000, '스마트폰'],
            ['현대', 1000, '자동차'],
            ['네이버', 500, '포털']]

In [ ]:
pd.DataFrame(company1)

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [ ]:
df1 = pd.DataFrame(company1)

In [ ]:
df1

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [ ]:
df1.columns = ['기업명', '매출액', '업종']

In [ ]:
df1

   기업명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [ ]:
# dict 이용하여 DataFrame 만들기
company2 = {'기업명' : ['삼성', '현대', '네이버'],
            '매출액' : [2000, 1000, 500],
            '업종' : ['스마트폰', '자동차', '포털']}

In [ ]:
df2 = pd.DataFrame(company2)

In [ ]:
df2

   기업명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [ ]:
# 인덱스를 특정 column으로 지정하기
df1

   기업명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [ ]:
df1.index = df1['기업명'] # 기업명을 인덱스로

In [ ]:
df1

     기업명   매출액    업종
기업명
삼성    삼성  2000  스마트폰
현대    현대  1000   자동차
네이버  네이버   500    포털

In [ ]:
df1['매출액']

기업명
삼성     2000
현대     1000
네이버     500
Name: 매출액, dtype: int64

In [ ]:
# series = column 이라고 보면 됨
type(df1['매출액'])

pandas.core.series.Series

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive